<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.dtdt.service.mapper.AppMapper" >
  <resultMap id="BaseResultMap" type="com.asiainfo.dtdt.entity.App" >
    <id column="app_id" property="appId" jdbcType="BIGINT" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
    <result column="secret" property="secret" jdbcType="VARCHAR" />
    <result column="partner_id" property="partnerId" jdbcType="BIGINT" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="is_need_charge" property="isNeedCharge" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="notice_url" property="noticeUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    app_id, app_key, secret, partner_id, app_name, state, is_need_charge, create_time, 
    notice_url
  </sql>
  <select id="queryAppInfo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_s_app
    where app_key = #{appKey}
  </select>
</mapper>