<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.dtdt.service.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.asiainfo.dtdt.entity.Product" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="wo_product_code" property="woProductCode" jdbcType="VARCHAR"/>
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="wo_product_price" property="woProductPrice" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="cycle_type" property="cycleType" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="can_unsubscribe" property="canUnsubscribe" jdbcType="TINYINT" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR"/>
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, product_code,wo_product_code, product_name, price,wo_product_price, state, cycle_type, type, 
    can_unsubscribe, area_code, area_name, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_s_product
    where ID = #{id}
  </select>
  <!-- 查询可订购产品列表服务 -->
  <select id="getProductList" resultMap="BaseResultMap" parameterType="java.lang.Long" >
	SELECT 
	  pd.product_code,
	  pd.product_name,
	  pd.cycle_type,
	  pd.type
	FROM
	  t_s_product_price pp,
	  t_s_product pd 
	WHERE pp.product_id = pd.id
	AND pp.state = 0 
	AND app_id = #{appId,jdbcType=BIGINT}
	AND partner_id = #{partnerId,jdbcType=BIGINT}
  </select>
  <!-- 根据产品 编码查询产品 -->
  <select id="queryProduct" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_s_product
    where product_code = #{productCode}
  </select>
</mapper>